
body {
    font-family: 'Open Sans', sans-serif;
    color:#6e7ea9;
}
ul,li {
    list-style-type:none;
}
a {
    text-decoration: none;
}
.item {
    
    background-image:url("../img/img1.png");
    
    background-repeat: no-repeat;
}
.item1 {
    
    background-image: url("../img/img1.png");
    height: 100px;
    width:200px;
    background-repeat: no-repeat;
}
.item2 {
   
    background-image: url("../img/img2.png");
    height: 100px;
    width:200px;
    background-repeat: no-repeat;
    margin-top:-15px;
}
.item3 {
    width:200px;
    background-image: url("../img/img3.png");
    height: 100px;
    background-repeat: no-repeat;
}
.item4 {
    width:200px;
    background-image:url("../img/img4.png") ;
    height: 100px;
    background-repeat: no-repeat;
}

.page-header {
    position: relative;
    background-image: url("../img/background-main.png");
    background-size:cover;
    background-repeat:no-repeat;
    padding-bottom:400px;
    transform: rotate(360);
}
.page-header-image {
    display:block;
    position: absolute;
    right:0;
    top:200px;
    height: 362px;
    width:670px;
    background-image: url("../img/new.png");
    background-repeat: no-repeat;
    padding-bottom:300px;
}
.page-header-flex {

}
.page-header-h1 {
    color:#192b59;
    font-size: 80px;
    font-weight: 700;
    max-width: 600px;
}
.header-flex {
    display: flex;
    padding-bottom: 100px;
    
}
.page-company {
 
    background-image: url("../img/elements.png");
    padding-top: 50px;
    
}
.logo {
    display:block;
    width:300px;
    height: 100px;
    background-image:url("../img/logo.png");
    background-repeat:no-repeat;
    margin-top: 80px;
}
.btn-primary 
{
    color:white;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    background-color: #1085e4;
    border-radius: 30px;
    padding:15px 30px;
    outline: none;
    overflow: hidden;
}
.btn-secondary {
    background-color:#cbdbe8;
    color:#9aa8c2;
    padding:15px 20px;
    text-transform: uppercase;
    border-radius: 20px;
    letter-spacing: 1.3px;
}
.btn-secondary:hover {
    color:blue;
    transition:0.6s;
    background-color: white;
    border: 1px solid grey;
}
.btn-primary:hover {
    background-color:white;
    color:#1085e4;
    transition:0.6s;
    border:1px solid #1085e4;
}
.btn-grey {
    color:grey;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding:15px 40px;
    background-color: #f5faff;
    border-radius: 20px;
    border: 1px solid #dce1e5;
}
.btn-grey:hover {
    color:#1085e4;
    transition: 0.4s;
    background-color: white;
    border:2px dashed #1085e4;
}
.nav {
    display: flex;
    justify-items: space-between;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-top:100px;
}
.nav>li {
    padding:0 15px;
}
.page-wrap-grid {
    display: grid;
    grid-template-areas:"a b c"
                        "d b c"
                        "d e f"
                        "g e f"
                        "h h h";
    
    
}
.grid-img {
    display:block;
    background-repeat: no-repeat;
    margin:0 auto;
    width:100px;
    height: 100px;
}
.grid-img1 {
    background-image: url("../img/firstobj.png");
}
.grid-img2 {
    background-image:url("../img/secondobject.png") ;
}
.grid-img3 {
    background-image: url("../img/thidobj.png");
}
.grid-img4 {
    background-image: url("../img/Fourobj.png");
}
.grid-img5 {
    background-image: url("../img/fifthobj.png");
}
.grid-item {
    margin:30px 20px;
    background-color: white;
    box-shadow:0 5px 10px black;
    padding:50px 20px;
    text-align: center;
    
}

.grid-item-0 {
    grid-area:"a";
    
}
.grid-item1 {
    grid-area:"b";
    background-color: white;
    box-shadow:0 5px 10px black;
    padding:50px 20px;
    text-align: center;
}
.grid-item2 {
    grid-area:"c";
    
}
.grid-item3 {
    grid-area:"d";
}
.grid-item4 {
    grid-area:"e";
}
.grid-item5 {
    grid-area:"f";
}
.grid-item6 {
    grid-area:"g";
}
.grid-item7 {
    grid-area:"h";
}



.page-grid p {
    max-width:300px;
    line-height: 35px;
}
.page-grid-h2 {
    font-size: 40px;
    color:#192b59;
    font-weight: 700;
}
span {
    display:block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color:#1085e4;
    letter-spacing: 1.3px;
}
.page-grid h3 {
    font-size: 20px;
    color:#192b59;
}
.page-grid a {
    color:#1085e4;
    font-weight: 600;
}
.page-grid p {
    line-height: 20px;
}
.h2-white 
{
    color:white;
    font-size: 50px;
}
.h2-blue {
    color:#192b59;
    font-size: 50px;
    font-weight: 600;
}
.h2-blue-weight {
    color:#192b59;
    font-size: 50px;
    font-weight: 800;
}
.page-clients {
    background-image: url("../img/background-blue.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
.page-clients h2 {
    color:#000958;
    font-size: 22px;
    font-weight: 700;
}
.page-stat-li {
    color:#bacbdc;
    font-size: 60px;
}
.page-stat ul {
    display: flex;
    justify-items: space-between;
    
}
.span {
    color:#1085e4;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.3px;
}
.page-stat ul>li {
    padding:40px 0px;
    flex-basis: 25%;
}
.page-stat h2 {
    padding:50px 0px;
    max-width: 500px;
    text-align: center;
    margin:0 auto;
}

.wrap {
    max-width:1100px;
    margin:0 auto;
    
}

.page-stat {
    padding:30px 0px;
    background-color:#edf6ff;
}
.page-header {
    background-color:#edf6ff;
}
.page-screen {
    background-color:#edf6ff;
    text-align: center;
    padding-top: 60px;
}
.page-screen h2 {
    padding-bottom: 50px;
}
.page-screen span {
    margin-top:30px;
}
.page-team {
    text-align: center;
    background-image: url("../img/background-team.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover ;
    padding-bottom: 150px;
}
.page-team {
    padding-top: 50px;
}

.page-team-item1 {
    background-color: white;
    margin-right:100px;
    box-shadow: 0 0 10px ;
    max-width:300px;
}
.page-team-item2 {
    background-color: white;
    box-shadow: 0 0 10px ;
    max-width:300px;
}
.page-team-item3 {
    background-color: white;
    box-shadow: 0 0 10px ;
    max-width:300px;
    margin-left: 100px;
}
.jqeury-element {
    display: block;
    background-size:cover;
    margin:0 auto;
    background-image: url("../img/telegram.png");
    width:100px;
    height: 100px;
}
.jqeury-element:hover {
    background-color: blue;
    border-radius: 60px;
    transition: 0.4s;
    box-shadow:0 0 15px ;
    border:2px dotted yellow;
}
.page-team-flex {
    margin-top: 170px;
    display:flex;
    flex-basis:33%;
    text-align: center;
    
}
.page-plans {
    text-align: center;
    padding:50px 0px;
}
.page-subscribe {
    
    background: rgba(10,32,144,1);
background: -moz-linear-gradient(left, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
background: -webkit-linear-gradient(left, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
background: -o-linear-gradient(left, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
background: -ms-linear-gradient(left, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
background: linear-gradient(to right, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
}
.page-subscribe-left {
    margin-right:250px;
}
.page-subscribe-flex {
    display:flex;
    position: relative;
    padding:50px 0px;
    justify-items: space-between;
    

}
.page-subscribe-flex input {
    position:relative;
    background-color: transparent;
    padding:20px 180px 20px 15px;
    border-radius: 30px;
    color:white;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
    margin-top: 50px;
    border:2px solid rgba(32, 32, 32,0.5);
   
}
.page-subscribe-flex input:focus {
    outline: none;
    box-shadow: 0 0 15px rgb(0,0,0,0.5);
    
}
.page-subscribe-flex a {
    position:absolute;
    top:330px;
    left:220px;
   
}
.page-clients-first {
    background-color: white;
    border-radius: 10px;
    padding:15px;
    -webkit-box-shadow: 2px 3px 14px 11px rgba(163,161,163,0.67);
-moz-box-shadow: 2px 3px 14px 11px rgba(163,161,163,0.67);
box-shadow: 2px 3px 14px 11px rgba(163,161,163,0.67);
}
.page-clients-second {
    background-color: white;
    border-radius: 10px;
    padding:15px;
    -webkit-box-shadow: 2px 3px 14px 11px rgba(163,161,163,0.67);
-moz-box-shadow: 2px 3px 14px 11px rgba(163,161,163,0.67);
box-shadow: 2px 3px 14px 11px rgba(163,161,163,0.67);
}
.page-clients-third {
    background-color: white;
    border-radius: 10px;
    padding:15px;
    -webkit-box-shadow: 2px 3px 14px 11px rgba(163,161,163,0.67);
    -moz-box-shadow: 2px 3px 14px 11px rgba(163,161,163,0.67);
    box-shadow: 2px 3px 14px 11px rgba(163,161,163,0.67);
}
.page-clients-second-flex 
{
    display:flex;

}

.page-clients-second-flex img {
    margin-top:20px;
    border-radius: 100px;
    width:50px;
    margin-right:30px;
}
.page-clients-second-flex h2 {
    
}
.page-clients-flex {
    display:flex;
    justify-content: space-between;

    
    
}

.page-clients-flex {
    letter-spacing: 1.1px;
    line-height: 25px;
}
.page-subscribe-flex p {
    max-width: 350px;
    line-height: 25px;
    color:white;
}
.page-plans-flex {
    display:flex;
    justify-content: space-between;
    text-align:center;
   
}
.page-plans-h2 {
    padding:30px 0px;
}
.page-plans ul>li {
    margin-right:15px;
}
.page-plans a {
    margin-left:20px;
    margin-bottom:40px;
}
.plan-grey {
    background-color: #edf6ff;
    padding:30px;
}
.plan-grey ul>li {
    padding:15px 0px;
    text-align: center;
}
.plan-blue ul>li {
    padding:15px 0px;
    color:white;
}
.plan-blue {
    background-color:#192b59;
    padding: 30px;
}
.page-company-flex  {
   display: flex;
   
    
}
.page-company-flex a {
    padding-left: 100px;
}
.page-software {
    background-image:url("../img/bg-twosquare.png");
    background-size:850px;
    background-repeat:no-repeat;
    max-width: 1400px;
    padding:100px 0px;
    display: flex;
    justify-content: space-between;
}
.software-icon {
    display: block;
    height: 100px;
    background-repeat: no-repeat;
    background-image: url("../img/Home.png");
}
.software-img {
    background-image: url("../img/Laptop.png");
    display: block;
    background-repeat: no-repeat;
    height: 761px;
    width:731px;
    margin-right:100px;
}
.page-software dl {
    overflow: hidden;
    overflow-y: scroll;
    
}
.page-software dt {
    font-weight: 800;
    
}
.page-software p,dl {
    max-width: 600px;
    line-height: 25px;
}
.page-limpon {
    background-color: #edf6ff;
    background-image: url("../img/bg-triangles.png");
    background-repeat:no-repeat;
    background-position:cover;
    background-size:600px;
    
}
.page-control {
    background-image:url("../img/bg-square.png");
    background-repeat:no-repeat;
    background-size:600px;
    background-position: right;
}
.page-landingpage-flex {
    display: flex;
    padding:100px 0px;
}
.page-landingpage-flex-p {
    line-height: 22px;
    letter-spacing: 1px;
    padding-bottom: 30px;
}
.page-landingpage-available {
    text-transform: uppercase;
    font-weight: 700;
    color:#cedae3;
    letter-spacing: 2px;
}
.brad-png {
    display: block;
    background-repeat: no-repeat;
    background-image: url("../img/Brad.png");
    width: 419px;
    height: 361px;
    margin-right: 100px;
}
.grap-png 
{
    margin-top: 100px;
    display: block;
    background-repeat: no-repeat;
    background-image: url("../img/Graphic.png");
    width: 419px;
    height: 361px;
    margin-left: 150px;
}
.page-trail {
    background-color: #edf6ff;
}
.page-trail-input {
    display: block;
    box-sizing: border-box;
    margin: 30px 0px;
    padding:20px 150px 20px 45px;
    border-radius: 30px;
    overflow: hidden;
    border:1px solid grey;
    box-shadow: 0 0 10px rgb(0,0,0,0.5);
}
.page-trail-input:focus {
    border-bottom:3px solid blue;
    transition: 0.4s;
    outline: none;
}

.page-trail-textarea {
    display: block;
    padding:15px 30px;
    border-radius: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgb(0,0,0,0.5);
}
.page-trail-textarea:focus {
    outline:none;
    border-bottom:3px solid blue;
    transition: 0.4s;
}
.page-trail-img {
    background-image: url("../img/page-trail.png");
    background-repeat:no-repeat;
    display: block;
    width: 418px;
    height: 418px;
}
.page-form {
    margin-left:100px;
}
.footer {
    background-color: #192b59;
    padding:10px 0px;
}
.footer h5 {
    
}

.footer-img {
   
    width:50px;
    height:50px;
    background-size:cover;
}
.footer-img1 {
    background-image: url("../img/youtube.png");
    
}
.footer-img2 {
    background-image: url("../img/telegram.png");
}
.footer-img3 {
    background-image: url("../img/vk.png");
}
.jquery-hidden {
    display: flex;
    justify-content: space-around;
}
.jquery-img {
    display: block;
    background-size:cover;
    margin:0 auto;
    width:50px;
    height: 50px;
    
}
.jquery-img:hover {
    background-color:rgb(80, 80, 230);
    transition:0.4s;
    border-radius: 20px;
}
.jquery-tg {
    
    background-image: url("../img/telegram.png");
    width:50px;
    height: 50px;
    
}
.jquery-tw {
    background-image:url("../img/whatsapp.png");
    
}
.jquery-what {
    background-image:url("../img/youtube.png");
}
.jquery-fb {
    background-image:url("../img/vk.png");
}

@media screen and (max-width:600px) {
    body a {
        background-size:100px;
        max-width:100px;
        max-height: 100px;
    }
    body a {
        max-width:50%;
        max-height: 50%;
    }
  
    
}